.container {
    display: flex;
    background-image: url(../../assets/Abraham.jpg);
    background-size: cover;
    color: rgb(155, 132, 4);
    flex-wrap: wrap;
}

.h1 {
    color: black;
    text-align: center;
}

.h2 {
    color: black;
    text-align: center;

}

.fond {
    width: 50%;
    height: auto;
}

.title {
    text-shadow: 10;
    text-align: center;
    color: rgb(155, 132, 4);
}

.text {
    text-align: center;
    font-size: 1em;
    color: rgb(85, 41, 6);
    font-size: 1.5em;
    text-shadow: 5px;
}

.film {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 7px;
}

.images {
    width: 20%;
    height: auto;
    flex-wrap: wrap;
    border: 3px solid;
}

.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(4, 8, 34);
    width: auto;
}