.container {
    display: flex;
    background-image: url('https://zupimages.net/up/19/44/yr4c.png');
    background-size: cover;
    color: aliceblue;
    flex-wrap: wrap;
    
}

.fond {
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
}

.text {
    text-align: center;
}

.film {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-evenly;
}

.images {
    width: 20%;
    height: auto;
    flex-wrap: wrap;
}